@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li, ul, ol{list-style: none;}
a:link, a:visited, a:hover{text-decoration: none; color: #ffffff;}
html {scroll-behavior: smooth;}
body{font-family: 'Noto Sans KR', sans-serif; color: #4A374F;}
.contentBox{width: 1200px; height: 100%; margin: 0 auto;}

header{width: 100px; height: 100vh; position: fixed; background-color: rgba(238,174,202,1); filter: drop-shadow(0px 0px 4px rgb(87, 119, 228)); z-index: 1;}
ul{display: flex; flex-direction: column; align-items: center; padding-right: 8px; margin-top: 300px;}
ul li{padding-top: 30px;}

.headerIcon{width: 35px; cursor: pointer;}
.people{width: 30px; cursor: pointer;}

#particles-js{position: absolute; width: 100%; height: 100%;}
#particlesjs{position: absolute; width: 100%; height: 100%;}
#particles_js{position: absolute; width: 100%; height: 100%;}

.portfolio_text,.portfolio_text1{width: 100%; height: 150px; padding: 100px 0 0 100px; font-family: 'Comfortaa', cursive; font-weight: bold; font-size: 45px; color: #4A374F;}

#top{width: calc(100% - 100px); height: 937px; background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(208,179,212,1) 34%, rgba(171,184,225,1) 75%, rgba(148,187,233,1) 100%); float: right; position: relative;}

#profileBox{width: 100%; height: 100%; margin: 0 auto; position: relative;}
.cellphone{position: absolute; top: 90px; left: 396px; filter: drop-shadow(0px 0px 7px rgb(241, 149, 189, 0.8));}
.profile{width: 30%; height: 100%; display: flex; flex-direction: column; align-items: center; margin: 0 auto; padding-top: 200px; overflow: hidden;}
.me{margin-bottom: 10%; filter: drop-shadow(0px 5px 10px rgba(238,174,202,1))}

.planet{position: absolute; right: 150px; opacity: 1; filter: drop-shadow(0px 0px 5px rgb(241, 149, 189, 0.8)); animation: planet 2s ease-in-out infinite;}
@keyframes planet{0% {top: 253px;} 50% {top: 250px;} 100%{top: 253px;}}
.planetA{width: 150px; position: absolute; top: 650px; right: 200px; animation: rotate 15s linear infinite; filter: drop-shadow(0px 0px 5px rgb(91, 165, 250, .9))}
@keyframes rotate{from {transform: rotate(0deg)} to{transform: rotate(360deg)}}
.planetB{position: absolute; top: 450px; left: 200px; animation: rotate 20s linear infinite; filter: drop-shadow(0px 0px 5px rgb(91, 165, 250, .9))}
@keyframes rotate{from {transform: rotate(360deg)} to{transform: rotate(0deg)}}

.moon{width: 130px; position: absolute; left: 100px; opacity: 1; filter: drop-shadow(0px 0px 10px rgb(241, 149, 189, 0.8)); animation: moon 2s ease-in-out infinite;}
@keyframes moon{0% {top: 90px;} 50% {top: 95px;} 100%{top: 90px;}}


/*디자인 툴*/
#programBox{width: 1440px; height: 100px; margin: 10px auto; float: right;}
.IM1{display: inline-block; margin: 0 0 30px 90px; color: #666;}
.IM2{display: inline-block; margin: 0 0 30px 110px; color: #666;}
.IM3{display: inline-block; margin: 0 0 30px 95px; color: #666;}
.IM4{display: inline-block; margin: 0 0 30px 100px; color: #666;}

/*포토샵*/
#myJobBox_01{width: 360px; height: 100%; float: left;  padding: 10px;}
.photoshopBox{display: flex; align-items: center;}
.photoshopBar{width:100%; height: 8px; border-radius: 15px; background-color: #ffffff; position: relative; margin: 10px;}
/*포토샵 미터기*/
.photoshopBar::before{content: ''; height: 8px; border-radius: 15px; background-color: #0f2ec4; position: absolute; animation: photoshop 1s linear forwards;}
/*포토샵 미터기 애니메이션*/
@keyframes photoshop{to{width: 95%;}
from{width: 0%;}}


/*일러스트레이터*/
#myJobBox_02{width: 360px; height: 100%; float: left; padding: 10px;}
.illustrationBox{display: flex; align-items: center;}
.illustrationBar{width: 100%; height: 8px; border-radius: 15px; background-color: #ffffff; position: relative; margin: 10px;}
/*일러스트 미터기*/
.illustrationBar::after{content: ''; width: 0px; height: 8px; border-radius: 15px; background-color: #ffa41e; position: absolute; animation: illust 1s linear forwards;}
/*일러스트레이터 미터기 애니메이션*/
@keyframes illust{from{width: 0%;} to{width: 95%;}}


/*인디자인*/
#myJobBox_03{width: 360px; height: 100%; float: left;  padding: 10px;}
.indesignBox{display: flex; align-items: center;}
.indesignBar{width:100%; height: 8px; border-radius: 15px; background-color: #ffffff; position: relative; margin: 10px;}
/*인디자인 미터기*/
.indesignBar::before{content: ''; width: 0%; height: 8px; border-radius: 15px; background-color: #fe5da3; position: absolute; animation: indesign 1s linear forwards;}
/*인디자인 미터기 애니메이션*/
@keyframes indesign{to{width: 80%;}
from{width: 0%;}}


/*UXUI*/
#myJobBox_04{width: 360px; height: 100%; float: left; padding: 10px;}
.uxuiBox{display: flex; align-items: center;}
.uxuiBar{width:100%; height: 8px; border-radius: 15px; background-color: #ffffff; position: relative; margin: 10px;}
/*UXUI 미터기*/
.uxuiBar::before{content: ''; width: 0%; height: 8px; border-radius: 15px; background-color: rgb(108, 85, 241); position: absolute; animation: uxui 1s linear forwards;}
/*UXUI 미터기 애니메이션*/
@keyframes uxui{from{width: 0%;}
to{width: 85%;}}


.program{display: inline-block; font-size: 14px;}
.meterbar{float: right; font-size: 14px;}

#contact{width: calc(100% - 100px); height: 120px; margin-top: 15px; display: flex; flex-direction: row; align-items: center; position: relative;}

.fa-solid{font-size: 50px; cursor: pointer; margin: 0 auto; filter: drop-shadow(0px 0px 5px rgb(241, 149, 189, 0.8)); color: black;}
.fa-solid:hover{animation-name: contact; animation-duration: 0.3s;}
@keyframes contact{to{transform: scale(0.9);}
from{transform: scale(1.0);}}

.contactMe_tootip{width: auto; background-color: #ffffff; text-align: center; border-radius: 30px; padding: 10px; position: absolute; z-index: 1; top: 55%; left: 47%; margin: 40px 0 0 -53px; font-size: 12px; font-family: 'Short Stack'; box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2); display: none;}
.contactMe_tootip::after{content: ""; position: absolute; bottom: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: transparent transparent #ffffff transparent;}
.play{cursor: pointer;}

/*스크롤다운 애니메이션*/
#scorllDownBox{width: calc(100% - 100px); height: auto; margin-top: 190px;}

#scorllDownBox>p{font-size: 12px; text-align: center; font-weight: bold; color: #ffffff;}
.scrollDown{width: 20px; height: 26px; border: 3px solid #ffffff; border-radius: 60px; position: relative; margin: 15px auto 0;}
/*스크롤 휠*/
.scrollDown::before{content: ''; width: 4px; height: 4px; position: absolute; top: 5px; left: 50%; transform: translateX(-50%); background-color: #ffffff; border-radius: 50%; opacity: 1; animation: point 2s infinite; -webkit-animation: point 2s infinite;}
/*스크롤 휠 애니메이션*/
@keyframes point{to{opacity: 0; top: 15px;}}
@-webkit-keyframes point{to{opacity: 0; top: 15px;}}

/*별*/
.starlight{width: 100px; position: absolute; filter: drop-shadow(0px 0px 8px rgb(113, 175, 245)); transform: translateY(100px); transition: all 1s; opacity: 0; top: -130px; animation: starlight 2s ease-in-out infinite;}
@keyframes starlight{0% {top: -130px;} 50% {top: -133px;} 100%{top: -130px;}}

.star{position: absolute; top: 500px; left: -100px; filter: drop-shadow(0px 5px 10px rgba(238,174,202,1));}

.stars{width: 200px; top: -50px; right: 100px; position: absolute; filter: drop-shadow(0px 0px 10px rgba(238,174,202)); transform: translateY(300px); transition: all 1s; opacity: 0;}

.starStar{width: 110px; bottom: 10px; left: 100px; position: absolute; filter: drop-shadow(0px 0px 10px rgba(148,187,233)); animation: starStar 2s ease-in-out infinite; transform: rotate(105deg);}
@keyframes starStar{0% {top: 800px;} 50% {top: 797px;} 100%{top: 800px;}}


/*자기소개*/
#aboutMeBox{width: calc(100% - 100px); height: 1200px; background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(208,179,212,1) 34%, rgba(171,184,225,1) 75%, rgba(148,187,233,1) 100%); float: right; position: relative;}
#aboutMeBox>.contentBox{position: relative;}
/*자기소개 타이틀 애니메이션*/
.portfolio_text{transform: translateY(100px); transition: all 1s; opacity: 0;}
/*자기소개 프로필 일러스트 박스*/
.aboutMe_Left{width: 20%; height: 1200px; float: left; padding: 50px 100px; transform: translateY(100px); transition: all 1s; opacity: 0;}


/*자기소개 오른쪽 박스*/
.aboutMe_Right{width: 80%; height: 1200px; position: absolute; right: 0; z-index: 3; padding: 50px;}
/*업무*/
.bubble{width: 100%; height: 230px; background-color: #ffffff; border-radius: 20px; position: relative; filter: drop-shadow(0px 5px 10px rgba(238,174,202,1)); padding: 30px; margin-bottom: 30px; transform: translateY(100px); transition: all 1s; opacity: 0;}
/*업무 말풍선 꼭지*/
.bubble:after{content: ""; position: absolute; bottom: 66%; left: -3.7%; margin-left: 2px; border-width: 15px; border-style: solid; border-color: transparent #ffffff transparent transparent;}
/*업무 텍스트 박스*/
.bubbleLeft{width: 55%; height: 100%; float: left; padding-right: 50px; text-align: justify;}
.bubbleLeft>h3{margin-bottom: 15px;}
.bubbleLeft p{font-size: 15px; margin-bottom: 8px;}
/*업무 회사 이력*/
.bubbleRight{width: 45%; height: 100%; float: right; display: flex;flex-direction: column; justify-content: space-around; padding-left: 20px;}
.company1, .company2{transform: translateY(50px); transition: all 1s; opacity: 0; margin-bottom: 15px;}
.school, .school2{transform: translateY(50px); transition: all 1s; opacity: 0; margin-bottom: 15px;}

.company1, .company2 p{font-size: 13px;}
.school, .school2{font-size: 13px;}
.during{font-weight: bold; margin-bottom: 5px;}

/*학력*/
.bubble2{width: 100%; height: 230px; background-color: #ffffff; border-radius: 20px; filter: drop-shadow(0px 5px 10px rgba(238,174,202,1)); padding: 30px; transform: translateY(100px); transition: all 1s; margin-bottom: 30px; opacity: 0;}
/*학력 텍스트 박스*/
.bubble2Left{width: 55%; height: 100%; float: left; padding-right: 50px; text-align: justify;}
.bubble2Left>h3{margin-bottom: 15px;}
.bubble2Left p{font-size: 15px; margin-bottom: 8px;}
/*학력 졸업 학교*/
.bubble2Right{width: 45%; height: 100%; float: right; display: flex;flex-direction: column; justify-content: space-around; padding-left: 20px;}

/*수상 이력*/
.bubble3{width: 100%; height: 230px; background-color: #ffffff; border-radius: 20px; filter: drop-shadow(0px 5px 10px rgba(238,174,202,1)); padding: 30px; transform: translateY(100px); transition: all 1s; opacity: 0;}
/*수상 이력 왼쪽*/
.bubble3Left{width: 55%; height: 100%; float: left; padding-right: 50px; text-align: justify;}
.bubble3Left>h3{margin-bottom: 15px;}
.bubble3Left p{font-size: 15px; margin-bottom: 8px;}
/*수상 이력 오른쪽*/
.bubble3Right{width: 45%; height: 100%; float: right; padding-left: 20px;}
.prize{transform: translateY(50px); transition: all 1s; opacity: 0;}
.prize>img{margin: 0px 0px 10px -10px;}
.prize_during{font-weight: bold; margin-bottom: 5px;}
.prizeText{font-size: 17px;}
.prize p{font-size: 15px;}

/*고래*/
.whale{top: 580px; left: 0px; position: absolute; filter: drop-shadow(0px 5px 10px rgba(238,174,202,1)); transform: translateY(200px); transition: all 1s; opacity: 0;}


/*포트폴리오 박스*/
#portfolioBox{width: calc(100% - 100px); height: 937px; float: right; background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(208,179,212,1) 34%, rgba(171,184,225,1) 75%, rgba(148,187,233,1) 100%); position: relative;}
.portfolio{width: 100%; height: 700px; background-color: #ffffff; filter: drop-shadow(0px 5px 10px rgba(238,174,202,1)); margin-top: 50px;}

/*포트폴리오 하단 버튼*/
.btn{height: 35px; background: black; color: #ffffff; border: none; position: relative; font-size: 13px; padding: 10px; cursor: pointer; transition: 800ms ease all; outline: none; margin: 25px 20px 0px 0px; display: inline-block; line-height: 1;}
.btn:hover{background:#fff; color: black;}
.btn:before, .btn:after{content:''; position: absolute; top:0; right:0; width:0px; height:2px; background: black; transition: 400ms ease all;}
.btn:after{right: inherit; top: inherit; left: 0; bottom: 0;}
.btn:hover:before, .btn:hover:after{width:100%; transition: 800ms ease all;}

/*오른쪽 버튼*/
.dotBox{width: 10%; height: 700px; float: right; display: flex; flex-flow: column; align-items: center; justify-content: center;}
.dot {cursor: pointer; width: 13px; height: 13px; margin: 0 5px; background-color: rgba(238,174,202,1); border-radius: 50%; display: inline-block; transition: background-color 0.5s ease; border: 2px solid white; margin: 5px;}
.active, .dot:hover {background-color: rgba(148,187,233,1)}

/*포트폴리오 공통*/
.Portfolio_Box{width: 95%; height: 700px; margin-top: 50px;}
.Portfolio_Box h5{color: black;}
.Portfolio_Box h1{color: black;}
.Portfolio_Box p{color: #666; font-size: 15px;}

/*포트폴리오 페이드인*/
.rightBox{animation: fade 0.8s cubic-bezier(1,.04,.74,1) forwards;}
@keyframes fade {from {opacity: 0; transform: translateY(-150px)} to {opacity: 1; transform: translateY(0px)}}

.leftBox{animation: garo 1s ease forwards;}
@keyframes garo {from {width: 0px} to {width: 200px}}

/*포트폴리오 버튼*/
.Portfolio_Box:nth-of-type(3){display: none;}
.Portfolio_Box:nth-of-type(4){display: none;}
.Portfolio_Box:nth-of-type(5){display: none;}
.Portfolio_Box:nth-of-type(6){display: none;}
.Portfolio_Box:nth-of-type(7){display: none;}

/*온라인서점 포트폴리오*/
.library_left{width: 60%; height: 100%; position: relative; float: left;}
.libraryLeft{width: 200px; height: 100%; background-color: gold; position: absolute;}

.library{transition: all 8s linear; transform: translateY(0px); cursor: move;}
.librarySub{transition: all 8s linear; transform: translateY(0px); display: none;}

.library_right{width: 30%; height: 100%; float: left; padding-top: 155px;}
.portfolioNumber{font-size: 10px; color: #666; display: inline-block; margin-bottom: 20px;}
.library_right h1{font-size: 60px; line-height: 70px; margin-bottom: 30px;}

.pc1{width: 100%; margin: 130px 0 0 50px; position: absolute;}
.subPage{font-size: 12px; color: rgb(150, 150, 150); position: absolute; top: 600px; left: 370px; cursor: pointer;}
.library_Monitor{width: 441px; height: 248px; position: absolute; top: 178px; left: 178px; overflow: hidden; cursor: move;}


/*칵테일 포트폴리오*/
.cocktail_left{width: 60%; height: 100%; position: relative; float: left;}
.cocktailLeft{width: 200px; height: 100%; background-color: #f691a3; position: absolute;}
.cocktailLeft::before{content: ""; width: 200px; height: 100%; background-color: gold; position: absolute; z-index: -1;}

.cocktail{transition: all 10s linear; transform: translateX(0px);}

.cocktail_right{width: 30%; height: 100%; float: left; padding-top: 155px;}
.portfolioNumber{font-size: 10px; color: #666; display: inline-block; margin-bottom: 20px;}
.cocktail_right h1{ font-size: 60px; line-height: 70px; margin-bottom: 30px;}

.pc1{width: 100%; margin: 130px 0 0 50px; position: absolute;}
.subPage{font-size: 12px; color: rgb(150, 150, 150); position: absolute; top: 600px; left: 370px; cursor: pointer;}
.cocktail_Monitor{width: 441px; height: 248px; position: absolute; top: 178px; left: 178px; overflow: hidden; cursor: move;}


/*WWF 포트폴리오*/
.WWF_left{width: 60%; height: 100%; position: relative; float: left;}
.WWFLeft{width: 200px; height: 100%; background-color: cornflowerblue; position: absolute;}
.WWFLeft::before{content: ""; width: 200px; height: 100%; background-color: #f691a3; position: absolute; z-index: -1;}

.WWF{transition: all 8s linear; transform: translateY(0px);}
.WWFsubPC{transition: all 3s linear; transform: translateY(0px); display: none;}

.WWFtablet{transition: all 10s linear; transform: translateY(0px);}
.WWFsubTablet{transition: all 3s linear; transform: translateY(0px); display: none;}

.WWFmobile{transition: all 10s linear; transform: translateY(0px);}
.WWFsubMobile{transition: all 3s linear; transform: translateY(0px); display: none;}

.tablet{width: 30%; position: absolute; margin: 320px 0px 0px 460px;}
.WWF_tablet{width: 148px; height: 195px; position: absolute; top: 360px; left: 490px; overflow: hidden; cursor: move;}
.WWFtablet{position: absolute; cursor: move;}

.WWFmobile{position: absolute; cursor: move;}
.WWF_mobile{width: 85px; height: 150px; position:absolute; top: 404px; left: 148px; overflow: hidden; cursor: move;}
.mobile{width: 18%; position: absolute; margin: 370px 0 0 130px;}

.WWF_right{width: 30%; height: 100%; float: left; padding-top: 155px;}
.portfolioNumber{font-size: 10px; color: #666; display: inline-block; margin-bottom: 20px;}
.WWF_right h1{ font-size: 60px; line-height: 70px; margin-bottom: 30px;}

.pc2{width: 100%; margin: 130px 0 0 50px; position: absolute;}
.subPage{font-size: 12px; color: rgb(150, 150, 150); position: absolute; top: 600px; left: 370px; cursor: pointer;}
.WWF_Monitor{width: 441px; height: 248px; position: absolute; top: 178px; left: 178px; overflow: hidden; cursor: move;}


/*만개의레시피 포트폴리오*/
.tenThousand_left{width: 60%; height: 100%; position: relative; float: left;}
.tenThousandLeft{width: 200px; height: 100%; background-color: #74b243; position: absolute;}
.tenThousandLeft::before{content: ""; width: 200px; height: 100%; background-color: cornflowerblue; position: absolute; z-index: -1;}

.recipe{transition: all 5s linear; transform: translateY(0px);}
.recipeSub{transition: all 4s linear; transform: translateY(0px);}

.recipetablet{transition: all 8s linear; transform: translateY(0px);}
.recipetabletSub{transition: all 4s linear; transform: translateY(0px);}

.recipemobile{transition: all 8s linear; transform: translateY(0px);}
.recipemobileSub{transition: all 5s linear; transform: translateY(0px);}

.tablet{width: 30%; position: absolute; margin: 320px 0px 0px 460px;}
.tenThousand_tablet{width: 148px; height: 195px; position: absolute; top: 360px; left: 490px; overflow: hidden; cursor: move;}
.tenThousandtablet{position: absolute;}

.tenThousandmobile{position: absolute;}
.tenThousand_mobile{width: 85px; height: 150px; position:absolute; top: 404px; left: 148px; overflow: hidden; cursor: move;}
.mobile{width: 18%; position: absolute; margin: 370px 0 0 130px;}

.tenThousand_right{width: 30%; height: 100%; float: left; padding-top: 155px;}
.portfolioNumber{font-size: 10px; color: #666; display: inline-block; margin-bottom: 20px;}
.tenThousand_right h1{ font-size: 60px; line-height: 70px; margin-bottom: 30px;}

.subPage{font-size: 12px; color: rgb(150, 150, 150); position: absolute; top: 600px; left: 370px; cursor: pointer;}
.tenThousand_Monitor{width: 441px; height: 248px; position: absolute; top: 178px; left: 178px; overflow: hidden; cursor: move;}


/*경복궁 포트폴리오*/
.korea_left{width: 60%; height: 100%; position: relative; float: left;}
.koreaLeft{width: 200px; height: 100%; background-color: #1e3361; position: absolute;}
.koreaLeft::before{content: ""; width: 200px; height: 100%; background-color: #74b243; position: absolute; z-index: -1;}

.korea{transition: all 8s linear; transform: translateY(0px);}

.korea_right{width: 30%; height: 100%; float: left; padding-top: 155px;}
.portfolioNumber{font-size: 10px; color: #666; display: inline-block; margin-bottom: 20px;}
.korea_right h1{font-size: 48px; line-height: 65px; margin-bottom: 27px;}

.pc1{width: 100%; margin: 130px 0 0 50px; position: absolute;}
.subPage{font-size: 12px; color: rgb(150, 150, 150); position: absolute; top: 600px; left: 370px; cursor: pointer;}
.korea_Monitor{width: 441px; height: 248px; position: absolute; top: 178px; left: 178px; overflow: hidden; cursor: move;}


/*조말론 포트폴리오*/
.perfume_left{width: 60%; height: 100%; position: relative; float: left;}
.perfumeLeft{width: 200px; height: 100%; background-color: #66c394; position: absolute;}
.perfumeLeft::before{content: ""; width: 200px; height: 100%; background-color: #1e3361; position: absolute; z-index: -1;}

.perfume{transition: all 2.5s linear; transform: translateY(0px);}
.perfumeSub{transition: all 8s linear; transform: translateY(0px);}

.perfume_right{width: 30%; height: 100%; float: left; padding-top: 155px;}
.portfolioNumber{font-size: 10px; color: #666; display: inline-block; margin-bottom: 20px;}
.perfume_right h1{ font-size: 60px; line-height: 70px; margin-bottom: 30px;}

.pc1{width: 100%; margin: 130px 0 0 50px; position: absolute;}
.subPage{font-size: 12px; color: rgb(150, 150, 150); position: absolute; top: 600px; left: 370px; cursor: pointer;}
.mainPage{font-size: 12px; color: rgb(150, 150, 150); position: absolute; top: 600px; left: 355px; cursor: pointer; display: none;}
.perfume_Monitor{width: 441px; height: 249px; position: absolute; top: 177px; left: 178px; overflow: hidden; cursor: move;}


#information{width: calc(100% - 100px); height: 630px; background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(208,179,212,1) 34%, rgba(171,184,225,1) 75%, rgba(148,187,233,1) 100%); float: right; position: relative;}

#information>.contentBox{padding-top: 80px;}

.portfolio_text2{width: 100%; height: 150px; padding: 100px 0 0 100px; font-family: 'Comfortaa', cursive; font-weight: bold; font-size: 45px; color: #4A374F; transform: translateY(100px); transition: all 1s; opacity: 0;}

.mailBox{width: 90%; height: 150px; position: relative; z-index: 3; margin-top: 100px; display: flex; flex-direction: row; justify-content: space-around;}

/*지메일*/
.gmailBox{width: 65px; height: 65px; border-radius: 50px; background-color: #ED5454; text-align: center; padding-top: 10px; cursor: pointer; position: relative; transform: translateY(100px); transition: all 1s; opacity: 0;}
.gmail{position: absolute; right: 12px;}
.gmail_ID{display: none; color: #fff; font-size: 14px; position: absolute; top: 20px; left: 20px;}

/*카카오*/
.kakaoBox{width: 65px; height: 65px; border-radius: 50px; background-color: #FFE812; text-align: center; padding-top: 13px; cursor: pointer; position: relative; transform: translateY(100px); transition: all 1s; opacity: 0;}
.kakao{position: absolute; right: 12px;}
.kakao_ID{display: none; color: #3d1d1c; font-size: 14px; position: absolute; top: 21px; left: 20px; width: 200px; height: 30px;}

/*네이버*/
.naverBox{width: 65px; height: 65px; border-radius: 50px; background-color: #00C73C; text-align: center; padding-top: 18px; cursor: pointer; position: relative; transform: translateY(100px); transition: all 1s; opacity: 0;}
.naver{position: absolute; right: 17px;}
.naver_ID{display: none; color: #fff; font-size: 14px; position: absolute; top: 20px; left: 20px;}

/*핸드폰*/
.phoneBox{width: 65px; height: 65px; border-radius: 50px; background-color: #47C5FC; text-align: center; padding-top: 14px; cursor: pointer; position: relative; transform: translateY(100px); transition: all 1s; opacity: 0;}
.phone{position: absolute; right: 22px;}
.phoneNumber{display: none; color: #fff; font-size: 14px; position: absolute; top: 21px; left: 20px; width: 100px;}

.starLight{width: 150px; position: absolute; transform: translateY(100px); transition: all 1s; right: 300px; animation: starLight 2s ease-in-out infinite; filter: drop-shadow(0px 0px 5px rgb(91, 165, 250, .5));}
@keyframes starLight{0% {top: 100px;} 50% {top: 105px;} 100%{top: 100px}}

.planetinfo{width: 120px; position: absolute; top: 440px; left: 190px; animation: rotate 30s linear infinite; filter: drop-shadow(0px 5px 10px rgba(238,174,202,1));}
@keyframes rotate{from {transform: rotate(0deg)} to{transform: rotate(360deg)}}